{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<style>
		form {
			display: flex;
			flex-direction: column;
			gap: 1rem;
		}

		.divRememberMe input {
			padding: 0;
		}


		.divRememberMe {
			display: inline;
		}

		.divRememberMe label {
			font-size: 20px;
			position: relative;
			bottom: 10px;
		}
	</style>
	<h1>Connectez-vous</h1>
	{% if error %}
		<p>{{error.message | trans(error.messageData,'security')}}</p>
	{% endif %}

	<form action="{{path('connexion')}}" method="POST">
		<label for="email">Email</label>
		<input type="email" id="email" name="_username" value="{{username}}">
		<label for="password">Password</label><input type="password" name="_password">
		<input type="submit">
		<label>
			<input type="checkbox" name="_remember_me">

			Se Souvenir de moi</label>
		<input type="hidden" name="_csrf_tocken" value="{{ csrf_token('authenticate')}}">
	</form>
{% endblock %}
