<header>
	<p>ma super app</p>
	<nav>
		<ul>
			<li>
				<button>
					<a href="{{path('home')}}">Accueil</a>
				</button>
			</li>
			<li>
				<button>
					<a href="{{path('inscription')}}">S'inscrire</a>
				</button>
			</li>
			<li>
				<button>
					<a href="{{path('connexion')}}">Se Connecter</a>
				</button>
			</li>
		</ul>
	</nav>
</header>
